body{
    font-family: monospace;
    border: 4px solid rgb(173, 236, 255);
    padding:1% 3% 2% 3%;
    background: url('image/1612254472_194-p-rozovo-golubo-fioletovii-fon-225.png') 0 0 repeat fixed;
    word-wrap: break-word;
    overflow: scroll;
}

table{
    width:100%;
    border-collapse: collapse;

}

td,th{
    border: 0;
    padding: 2%;
}


.information{
    color:lightcoral;
    text-shadow: lightslategray 2px 0px;
    font-size: 24px;
    position: sticky;
    top:0;
    background-color: rgb(162, 168, 243);
}

.information > th:first-child{
    background-color: #f5deb3;
}

.information > th:last-child{
    background-color: wheat;
}


.form{
    font-size: 32px;
    color:rgb(134, 114, 250);
    text-shadow:lightslategray 2px 0px;
    line-height: 200%;
}

.form input, button{
    font-size: 24px;
    white-space: nowrap;
}

.coordinates_x:focus{
    box-shadow:inset 0 0 5px 2px rgba(108, 204, 248, 0.5);
}

.coordinates_x:hover{
    box-shadow:0 0 5px 2px rgba(108, 204, 248, 0.5);
}


.submit-button:hover, .reset-button:hover{
    box-shadow:0 0 5px 2px rgba(108, 204, 248, 0.5);
    transition-duration: 2ms;
}

.radius:hover{
    box-shadow:0 0 5px 2px rgba(108, 204, 248, 0.5);
}

.active{
    background-color: lightpink;
}

#button-y>input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.table-result td{
    border:3px solid rgb(173, 236, 255);
    font-size: 15px;
    color:rgb(91, 41, 172);
    text-align:center;
    text-shadow: lightslategray 1px 0px;
}

.table-result {
    box-shadow: 0 0 10px cornsilk;
}


